.conversion_container {
  height: 250px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.375rem;
}
.conversion_inner_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.buttons_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.buttons_div button {
  width: 130px;
  height: 50px;
  border: 1px solid #537895;
  background-color: #fff;
  color: #537895;
  border-radius: 4px;
}

.download_button {
  background-color: #537895 !important;
  color: #fff !important;
}

@media screen and (max-width: 1024px) {
  .conversion_container {
    align-items: center;
    min-height: 300px;
  }
  .conversion_inner_container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 520px) {
  .conversion_container {
    min-height: 370px;
  }
}
@media screen and (max-width: 378px) {
  .buttons_div button {
    width: 100px;
  }
}
@media screen and (max-width: 378px) {
  .buttons_div button {
    width: 100px;
  }
}
@media screen and (max-width: 345px) {
  .conversion_container {
    min-height: 390px;
  }
}
