.formBg {
    background-color: #F9F9F9;
}


.submitbtn {
    color: white;
    background: #537895 0% 0% no-repeat;
    border-radius: 4px;
    opacity: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.check {
    border: 1px solid gainsboro;
    padding: 30px;
    background-color: white !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.align {
    text-align: end;
}